# ============================================================
#  CLYVO VET — Variaveis de ambiente (exemplo)
#  Copie este arquivo como .env e preencha os valores
#  cp .env.example .env
# ============================================================

# Oracle
ORACLE_PASSWORD=SUA_SENHA_AQUI
APP_USER=petflow
APP_USER_PASSWORD=SUA_SENHA_AQUI
ORACLE_DATABASE=PETFLOWDB

# Spring Boot
SPRING_DATASOURCE_URL=jdbc:oracle:thin:@oracle-db:1521/PETFLOWDB
SPRING_DATASOURCE_USERNAME=petflow
SPRING_DATASOURCE_PASSWORD=SUA_SENHA_AQUI
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.OracleDialect

# JWT
APP_JWT_SECRET=MUDE_ESTA_CHAVE_MINIMO_32_CARACTERES
